.openerp .oe_kanban_view .oe_kanban_status {
 position: relative;
 top: -13px;
}

.iconFriends{
background: url(../home/irvas/Downloads/disturb_do_not_disturb_privacy_private_icon_32.png) no-repeat;
width: 32px;
height: 32px;
border: none;
display:inline-block;
}